@import "./nrds.scss";
@import "./toolbar/styles.scss";
@import "./nav/styles.scss";
@import url('//cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css');

/* -------------------- */
// Utility Classes
/* -------------------- */

* {
  box-sizing: border-box;
}

.full-width {
  width: 100%;
}

.full-height {
  min-height: 100%;
}

.primary-grid {
  grid-gap: 0;
  overflow: hidden;
  position: relative;
  height: calc(100% - 74px);
}

.primary-content-container {
  overflow: scroll;
  padding: 16px;
}

.primary-content {
  box-sizing: border-box;
  padding: 16px;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 11px 15px -10px rgba(31, 75, 116, 0.15),
    0 1px 3px 1px rgba(0, 134, 148, 0.03), 0 3px 0 0 rgba(0, 49, 54, 0.04),
    0 1px 0 0 rgba(0, 75, 82, 0.04);
  position: relative;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 12px;
  }
  p {
    font-size: 14px;
    color: #464e4e;
    line-height: 21px;
  }

  ul {
    padding: 16px 32px;
    font-size: 14px;
    color: #464e4e;
    line-height: 21px;
  }
}

.empty-state {
  box-sizing: border-box;
  border: 3px dashed #e3e4e4;
  border-radius: 10px;
  padding: 24px 25%;
  margin: 16px;
  text-align: center;

  // because setting the height: 100% only works if the parent 
  // of this element has an explicitly defined height. Since it
  // doesn't have an explicit height (but rather min-height: 100%)
  // we use absolute positioning to position the empty state.
  position: absolute;
  top: 16px;
  right: 16px;
  bottom: 16px;
  left: 16px;

  .empty-state-header {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: #464e4e;
    text-transform: none;
    margin-bottom: 10px;
  }

  .primary-content > & {
    margin: 0;
  }
}

p.empty-state-description {
  font-size: 14px;
  line-height: 20px;
  color: #8e9494;
}

ol.empty-state-description {
  font-size: 14px;
  line-height: 20px;
  color: #8e9494;
  padding: 0 25%;
  text-align: left;
}

code {
  .primary-content p &,
  .primary-content ol & {
    font-size: 12px;
    background-color: #edeeee;
    border-radius: 3px;
    padding: 2px 5px;
    color: #464e4ec7;
  }
}
