@import "./toolbar/styles.scss";
@import "./nav/styles.scss";
@import "./dashboards/styles.scss";
@import "./multi-select/styles.scss";

/* -------------------- */
// Utility Classes
/* -------------------- */

* {
  box-sizing: border-box;
}

.full-width {
  width: 100%;
}

.full-height {
  min-height: 100%;
}

.main__container {
  margin-bottom: 0px;
}

.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  overflow: scroll;
}

.modal__title {
  font-size: 1.5rem;
  font-weight: 400;
  padding-bottom: 1rem;
}

.modal__details {
  padding: 1rem 0;
}

.modal__content {
  min-height: 20rem;
  height: 90%;
  overflow-y: auto;
}

.modal__icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  font-size: 16px;
  vertical-align: middle;
}

.modal__close-button {
  position: absolute;
  z-index: 2;
  top: -24px;
  right: -24px;
  border: none;
  box-shadow: none;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  transition: all 0.2s ease-in-out;

  &:hover {
    transform: scale(1.1);
  }
}

.side__modal-content {
  .side__modal-item {
    padding: 1rem;

    > .name {
      padding-bottom: 0.5rem;
    }
  }
}

.button__row {
  button + button {
    margin-left: 0.5rem;
  }
}
