.toolbar__container {
  height: 62px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px 0;
  background-color: #fafbfb;
  border-top: 1px solid #e3e4e4;
  border-bottom: 1px solid #e3e4e4;
  width: 100%;

  .toolbar__section {
    display: flex;

   .toolbar__item {
      display: flex;
      align-items: center;
      margin-left: 1rem;
  
      .toolbar__item-element {
        padding-left: .25rem;
      }
    }

    :first-child {
      margin-left: 0;
    }

  }
}
